# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
flask==1.0.2
requests==2.19.1
numpy==1.15.1
matplotlib==3.0.0
pandas==0.23.4
psycopg2==2.7.5
sqlalchemy==1.1.13
sqlalchemy_utils==0.33.4
bokeh==0.13.0
asn1crypto==0.24.0
flask==1.0.2
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
jinja2==2.10
markupsafe==1.0
pip==18.0
requests==2.19.1
setuptools==40.4.0
werkzeug==0.14.1
wheel==0.32.0
zlib==1.2.11
scikit-learn==0.19.1
scipy==1.1.0
